@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	background-color: #0a0a0a;
	color: #fafafa;
}
nav {
	background-color: #111111;
	border-bottom: rgb(112, 112, 112) solid 1px;
}
a {
	color: #62c5f3;

	text-decoration: none;
}
h1 {
	font-size: 2em; /* Usually 32px (assuming the root font size is 16px) */
}
h2 {
	font-size: 1.5em; /* Usually 24px */
}
h3 {
	font-size: 1.17em; /* Usually 18.72px */
}
h4 {
	font-size: 1em; /* Usually 16px */
}
h5 {
	font-size: 0.83em; /* Usually 13.28px */
}
h6 {
	font-size: 0.67em; /* Usually 10.72px */
}
