@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #fafafa;
	background-color: #111111;
}
nav {
	background-color: #111111;
	border-bottom: rgba(75, 75, 75, 0.548) solid 1px;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 2em; /* Usually 32px (assuming the root font size is 16px) */
}
h2 {
	font-size: 1.5em; /* Usually 24px */
}
h3 {
	font-size: 1.17em; /* Usually 18.72px */
}
h4 {
	font-size: 1em; /* Usually 16px */
}
h5 {
	font-size: 0.83em; /* Usually 13.28px */
}
h6 {
	font-size: 0.67em; /* Usually 10.72px */
}
